/* matte theme */

html {
    --general-text-color: #708192;
    --general-background: #242d35;
    --kbd-background: #141b1f;
    --kbd-border-color: #468079;
    --kbd-text-color: #708192;
    --button-background: #141b1f;
    --button-border-color: #468079;
    --button-text-color: #708192;
    --button-text-color-disabled: var(--button-text-color);
    --button-border-color-disabled: var(--button-border-color);
    --button-background-disabled: var(--button-background);
    --button-text-color-hover: #141b1f;
    --button-border-color-hover: #468079;
    --button-background-hover: #468079;
    --dangerous-button-text-color: #141b1f;
    --dangerous-button-background: #468079;
    --dangerous-button-border-color: #468079;
    --dangerous-button-text-color-hover: #468079;
    --dangerous-button-background-hover: #141b1f;
    --dangerous-button-border-color-hover: var(--dangerous-button-border-color);
    --floating-panel-text-color: inherit;
    --floating-panel-border-color: #468079;
    --floating-panel-background: #1c2228;
    --bubble-background: #141b1fcc;
    --bubble-text-color: #708192;
    --palette-background: #141b1fcc;
    --palette-item-border-color: #468079;
    --palette-overlay-background: #141b1fcc;
    --palette-overlay-text-color: inherit;
    --palette-deselect-button-color: #708192;
    --palette-number-text-color: #708192;
    --palette-number-background-color: #242d35;
    --cursor-text-color: #708192;
    --cursor-text-background-color: #141b1f;
    --undo-text-color: #708192;
    --undo-background: var(--palette-background);
    --undo-border-color: #468079;
    --input-text-color: #708192;
    --input-background: #1c2228;
    --input-border-color: #468079;
    --input-placeholder-text-color: #708192;
    --text-blue-color: #468079;
    --text-green-color: #468079;
    --text-red-color: #468079;
    --text-muted-color: #708192;
    --text-yellow-color: #468079;
    --text-orange-color: #468079;
    --copypulse-color: #708192;
    --error-color: #468079;
    --notification-color: #404a55;
    --ping-highlight-color: #404a55;
    --ping-flash-color: #468079;
    --ping-counter-color: #468079;
    --reply-highlight-color: #395a7e;
    --notification-expiry-color: var(--text-orange-color);
    --panel-background: #242d35;
    --panel-text-color: var(--general-text-color);
    --panel-border-color: #468079;
    --panel-header-text-color: inherit;
    --panel-header-background: #141b1f;
    --panel-footer-text-color: var(--text-muted-color);
    --panel-footer-background: var(--panel-header-background);
    --panel-close-button-color: #708192;
    --panel-close-button-color-hover: var(--panel-close-button-color);
    --panel-close-button-color-active: var(--panel-close-button-color);
    --panel-article-background: #1c2228;
    --panel-article-text-color: var(--panel-text-color);
    --panel-article-border-color: var(--panel-border-color);
    --panel-article-header-text-color: inherit;
    --panel-article-header-background: var(--panel-header-background);
    --panel-article-footer-text-color: var(--panel-footer-text-color);
    --panel-article-footer-background: var(--panel-footer-background);
    --panel-trigger-outline-color: #468079;
    --chat-separator-color: #468079;
    --chat-odd-background: rgba(0, 0, 0, 0.1);
    --chat-abbr-underline-color: var(--general-text-color);
    --chat-badge-background: #181e23;
    --chat-badge-text-color: #468079;
    --chat-server-action-text-color: var(--text-muted-color);
    --chat-user-text-shadow-color: #555;
    --chat-purged-text-color: var(--text-muted-color);
    --chat-tobottom-text-color: #708192;
    --chat-tobottom-background: #1f272e;
    --chat-tobottom-text-color-hover: var(--chat-tobottom-text-color);
    --chat-tobottom-background-hover: #242d35;
    --chat-typeahead-menu-background: var(--panel-article-background);
    --chat-typeahead-item-text-color: inherit;
    --chat-typeahead-item-background: #1f272e;
    --chat-typeahead-item-background-hover: #242d35;
    --chat-typeahead-item-background-active: #242d35;
    --emoji-picker-border-color: var(--floating-panel-border-color);
    --emoji-picker-shadow-color: #0009;
    --emoji-picker-background: var(--floating-panel-background);
    --emoji-picker-preview-name-text-color: var(--text-muted-color);
    --emoji-picker-tab-icon-color: inherit;
    --emoji-picker-tab-icon-color-selected: #242d35;
    --emoji-picker-section-text-color: var(--general-text-color);
    --emoji-picker-emoji-color: var(--general-text-color);
    --emoji-picker-emoji-background: transparent;
    --emoji-picker-emoji-background-hover: rgba(0, 0, 0, 0.1);
    --emoji-picker-search-input-border-color: var(--input-border-color);
    --emoji-picker-search-input-background: var(--input-background);
    --emoji-picker-search-input-text-color: var(--input-text-color);
    --emoji-picker-search-icon-color: var(--text-muted-color);
    --emoji-picker-search-no-results-color: var(--text-muted-color);
    --emoji-picker-variant-overlay-background: rgba(0, 0, 0, 0.7);
    --emoji-picker-variant-popup-background: var(--floating-panel-background);
    --emoji-picker-variant-close-button-color: var(--text-red-color);
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-appearance: none;
    outline-style: none;
    outline-width: 0 !important;
    outline-color: none !important;
}