html {
  --general-text-color:#000;
  --general-background:#c5c5c5;
  --kbd-background:#eee;
  --kbd-border-color:#ddd;
  --kbd-text-color:black;
  --button-background:#ddd;
  --button-border-color:#999;
  --button-text-color:#000;
  --button-text-color-disabled:#555;
  --button-border-color-disabled:#777;
  --button-background-disabled:#aaa;
  --button-text-color-hover:#fff;
  --button-border-color-hover:#999;
  --button-background-hover:#ce4747;
  --dangerous-button-text-color:#fff;
  --dangerous-button-background:#e20;
  --dangerous-button-border-color:unset;
  --dangerous-button-text-color-hover:var(--dangerous-button-text-color);
  --dangerous-button-background-hover:#f10;
  --dangerous-button-border-color-hover:var(--dangerous-button-border-color);
  --floating-panel-text-color:inherit;
  --floating-panel-border-color:#ccc;
  --floating-panel-background:#eee;
  --bubble-background:rgba(0, 0, 0, 0.7);
  --bubble-text-color:#fff;
  --palette-background:rgba(255, 255, 255, 0.8);
  --palette-item-border-color:black;
  --palette-overlay-background:rgba(255, 255, 255, 0.9);
  --palette-overlay-text-color:#000;
  --palette-deselect-button-color:inherit;
  --palette-number-text-color:#000;
  --palette-number-background-color:#fff;
  --cursor-text-color:#000;
  --cursor-text-background-color:#fff;
  --selection-color:unset;
  --selection-background-color:unset;
  --undo-text-color:#000;
  --undo-background:linear-gradient(to top, #FFFC, #FFF);
  --undo-border-color:#000;
  --input-text-color:#000;
  --input-background:#fff;
  --input-border-color:#ccc;
  --input-placeholder-text-color:#666;
  --text-blue-color:#00a;
  --text-green-color:#0a0;
  --text-red-color:#a00;
  --text-muted-color:#8c8c8c;
  --text-yellow-color:#f0ff27;
  --text-orange-color:#e67700;
  --copypulse-color:rgba(0, 211, 221, 0.7);
  --error-color:#cc3333;
  --notification-color:#b20;
  --ping-highlight-color:#feedd1;
  --ping-flash-color:#8ef7d1;
  --ping-counter-color:#ffa500;
  --reply-highlight-color:#ffdfab;
  --notification-expiry-color:#b66;
  --panel-background:#dfdfdf;
  --panel-text-color:inherit;
  --panel-border-color:#000;
  --panel-header-text-color:inherit;
  --panel-header-background:linear-gradient(to bottom, #ccc, #bbb);
  --panel-footer-text-color:#666;
  --panel-footer-background:#d6d6d6;
  --panel-close-button-color:#a00;
  --panel-close-button-color-hover:var(--panel-close-button-color);
  --panel-close-button-color-active:var(--panel-close-button-color);
  --panel-article-background:#0002;
  --panel-article-text-color:var(--panel-text-color);
  --panel-article-border-color:var(--panel-border-color);
  --panel-article-header-text-color:inherit;
  --panel-article-header-background:var(--panel-header-background);
  --panel-article-footer-text-color:var(--panel-footer-text-color);
  --panel-article-footer-background:var(--panel-footer-background);
  --panel-trigger-outline-color:#AAA;
  --chat-separator-color:#bfbfbf;
  --chat-odd-background:#d5d5d5;
  --chat-abbr-underline-color:#aaa;
  --chat-badge-background:#ccc;
  --chat-badge-text-color:#770;
  --chat-mention-text-color:#800080;
  --chat-server-action-text-color:#555;
  --chat-user-text-shadow-color:#ccc;
  --chat-purged-text-color:#888;
  --chat-shadowbanned-text-color:#F66;
  --chat-tobottom-text-color:#fff;
  --chat-tobottom-background:#66a;
  --chat-tobottom-text-color-hover:var(--chat-tobottom-text-color);
  --chat-tobottom-background-hover:#5c5ca0;
  --chat-typeahead-menu-background:#b9b9b9;
  --chat-typeahead-item-text-color:inherit;
  --chat-typeahead-item-background:#a3a3a3;
  --chat-typeahead-item-background-hover:#949494;
  --chat-typeahead-item-background-active:#828282;
  --emoji-picker-border-color:#CCCCCC;
  --emoji-picker-background:#FFFFFF;
  --emoji-picker-preview-name-text-color:#000000;
  --emoji-picker-tab-icon-color:#666666;
  --emoji-picker-tab-icon-color-selected:#4F81E5;
  --emoji-picker-section-text-color:#333333;
  --emoji-picker-emoji-background-hover:#E8F4F9;
  --emoji-picker-search-input-border-color:#CCCCCC;
  --emoji-picker-search-input-border-color-focus:#4F81E5;
  --emoji-picker-search-input-background:#fff;
  --emoji-picker-search-input-text-color:#000;
  --emoji-picker-search-icon-color:#CCCCCC;
  --emoji-picker-search-no-results-color:#666666;
  --emoji-picker-variant-overlay-background:rgba(0, 0, 0, 0.8);
  --emoji-picker-variant-popup-background:#FFFFFF;
  accent-color:#4f81e5
}
body {
	color: var(--general-text-color);
	background: var(--general-background);
	font-family:Grenadine MVB;
}
#chat-preview {
	position: fixed;
	left: initial;
	top: 0;
	right: 0;
	width: 30%;
	min-width: 300px;
	height: 100%;
	box-shadow: 0 0 10px 5px #0009;
    background: var(--panel-background);
    color: var(--panel-text-color);
}
#chat-header {
  color: var(--panel-header-text-color);
  background: var(--panel-header-background);
  border-bottom: 1px solid var(--panel-border-color);
  display: flex;
  justify-content: center;
  align-items:center;
  white-space: nowrap;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
}
#header-text {
	font-weight: 900;
}
#chat-body {
	overflow: auto;
	height: calc(100% - 2.75em);
	padding: 0 .5rem;
	display: block;
}
#chat-wrapper {
  display: block;
  height: 99%;
  box-sizing: border-box;
}
#chat-input {
  height: 3rem;
  position: absolute;
  bottom: calc(5px + 1.25rem);
  width: calc(100% - 16px);
}
#chattextbox {
  font-family: Grenadine MVB;
  font-weight: 100;
  font-style: normal;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px 1.75rem 5px 5px;
  resize: none;
  border: 1px solid var(--input-border-color);
  background: var(--input-background);
  color: var(--input-text-color);
}
#banner {
  height: 1.25em;
  line-height: 1.25em;
  font-size: 1em;
  font-style: italic;
  opacity: 100%;
  overflow-y: hidden;
  text-align: center;
}
.chat-body {
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  height: calc(100% - 4.25rem);
}
.rainbow {
  background-image:linear-gradient(45deg,violet,#308dff,#0ff,green,#ff0,orange,red,orange,#ff0,green,#0ff,#308dff,violet,violet);
  background-size:500px 100%;
  animation:rainbow-move 4s linear 1ms infinite;
  transform:rotateZ(360deg)
}
@keyframes donator-move {
  0% {
    background-position:5px 0
  }
  100% {
    background-position:-500px 0
  }
}
.donator {
  background-size:500px 100%;
  animation:donator-move 4s linear 1ms infinite;
  transform:rotateZ(360deg)
}
.donator.donator--green {
  background-image:linear-gradient(45deg,#94e044,#02be01 25%,#005f00 50%,#02be01 75%,#94e044 90%)
}
.donator.donator--gray {
  background-image:linear-gradient(45deg,hsl(0,0%,42.5%) 0,hsl(0,0%,63.5%) 50%,hsl(0,0%,42.5%) 100%)
}
.donator.donator--synthwave {
  background-image:linear-gradient(90deg,#f0f,#af94fc,#0ff ,#7544ff,#f0f)
}
.donator.donator--ace {
  background-image:linear-gradient(45deg,#000,#a3a3a3,#fff ,purple,#000,#000)
}
.donator.donator--trans {
  background-image:linear-gradient(45deg,#5ecff8,#f4abb8,#fff,#f4abb8,#5ecff8,#5ecff8)
}
.donator.donator--bi {
  background-image:linear-gradient(45deg,#d60370,#9a4f94,#0038a7,#d60370,#d60370)
}
.donator.donator--pan {
  background-image:linear-gradient(45deg,#fe218b,#fed700,#21b0fe,#fe218b,#fe218b)
}
.donator.donator--nonbinary {
  background-image:linear-gradient(45deg,#fff45f,#fff,#9c59d1,#000,#fff45f,#fff45f)
}
.donator.donator--mines {
  background-image:linear-gradient(90deg,#fffa00,#fcc200,#8f4a16,#b46e30,#8f4a16,#ffba00,#fff000)
}
.donator.donator--eggplant {
  background-image:linear-gradient(45deg,#5e8c31,#507d2a,#8e4585,#8e4585,#8e4585,#702963,#8b4789,#8b4789,#5e8c31)
}
.donator.donator--banana {
  background-image:linear-gradient(80deg,#fef9d3,#fdf3a7,#ff9,#ffff31,#ffe135,#7e5126,#ffe135,#ffff31,#ff9,#fdf3a7,#fef9d3)
}
.donator.donator--teal {
  background-image:linear-gradient(45deg,#277e6c,#32b69f,#88fff3,#32b69f,#277e6c)
}
.donator.donator--icy {
  background-image:linear-gradient(45deg,#153fa2,#1c95df,#a0e8ff,#1c95df,#153fa2)
}
.donator.donator--blood {
  background-image:linear-gradient(45deg,#5a0400,#990700,#d81515,#ff635e,#d81515,#990700,#5a0400)
}
.user {
	font-weight:700;
}
.faction-tag {
	font-weight:900;
	font-style:italic;
}
.user.donator {
  display:inline-block;
  -webkit-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent!important;
  color:transparent!important;
  text-shadow:none!important
}
ul.chat-body {
  background: var(--panel-background);
}
ul.chat-body li.chat-line:nth-of-type(odd) {
  background: var(--chat-odd-background);
}
ul.chat-body li.chat-line {
  line-height:1.5em;
  border-bottom:1px solid var(--chat-separator-color);
  overflow:hidden;
  position:relative;
  padding: 5px 0;
  margin-right: .25rem;
}
.pin-badge {
  line-height: 1em;
  background: var(--chat-badge-background);
  padding: .15em .5em;
  border-radius: 1em;
  color: var(--chat-badge-text-color);
}
#page-loaded {
  text-align: center;
  font-weight: 400;
  color: var(--chat-server-action-text-color);
}
.timestamps {
	border-bottom: 1px dashed var(--chat-abbr-underline-color);
}
.staff:before {
	font-family: "Font Awesome 6 Pro";
	font-weight: 900;
	font-style: normal;
	content: "\f3ed";
	margin-right: .25rem;
}
.owner:before {
	font-family: "Font Awesome 6 Pro";
	font-weight: 900;
	font-style: normal;
	content: "\f08d";
	margin-right: .25rem;
}
.syndrome:before {
	font-family: "Font Awesome 6 Pro";
	font-weight: 400;
	font-style: normal;
	content: "\e020";
	margin-right: .25rem;
}